$header_background: #202020
$header_text: #FFFFFF


$button_background: #F43735
$button_text: #FFFFFF


$input_background: #FFFFFF
$input_text: #858585

$main_background: #E5E5E5
$main_text: #212121

$footer_background: #202020
$footer_text: #FFFFFF

$card_background: #FFFFFF
$card_text: #212121
$card_button_background: #F5F5F5

$banner_return_link: #FFCDD2

$default_border: rgba(0, 0, 0, 0.3)
