@use '../../styles/themes/light' as *

.miniCardWrapper
  display: flex
  flex-direction: column
  width: 270px
  height: 376px
  border-radius: 10px 30px
  overflow: hidden
  background-color: $card_background
  box-shadow: 0px 4px 4px $default_border
  color: $card_text
  &:nth-of-type(-n+4)
    margin-bottom: 52px
  .miniHeroImgDiv
    display: flex
    width: 270px
    height: 198.8px
    img
      width: 100%
      height: auto
  .miniHeroInfoDiv
    position: relative
    padding: 21px 30px 0px 21px
    height: 100%
    .joinTeamButton
      position: absolute
      right: 10px
      top: -20px
      width: 54px
      height: 54px
      border-radius: 50%
      background-color: $card_button_background
      filter: drop-shadow(0px 2px 2px $default_border)
    .removeTeamButton
      position: absolute
      right: 10px
      top: -20px
      width: 54px
      height: 54px
      border-radius: 50%
      background-color: $button_background
      filter: drop-shadow(0px 2px 2px $default_border)
    .miniHeroInfoTexts
      display: flex
      flex-direction: column
      height: 100%
      color: $card_text
      text-decoration: none
    .miniHeroName
      max-width: 80%
      font-weight: 700
      font-size: 32px
      line-height: 38px
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      cursor: pointer
    .miniHeroDescription
      margin: 0
      margin-top: 5px
      width: 100%
      display: -webkit-box
      -webkit-line-clamp: 3
      -webkit-box-orient: vertical
      overflow: hidden
      font-weight: 400
      font-size: 16px
      line-height: 19px
      cursor: pointer

